## Лабораторная работа по курсу «Основы Python»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дан список:

In [2]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [3]:
def sum_numbers(data):
    return sum(i for i in data if 10 < i < 100 or 200 < i < 500)

print(sum_numbers(list_01))

1291

#### Задача 2

Дана строка:

In [ ]:
some_string = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [ ]:
import re

def get_words(string, letter):
    return [i for i in re.sub(r'[^\w\s]', '', string).lower().split() if i.startswith(letter)]

print(get_words(some_string, 'w'))

['written', 'winners', 'when', 'winner', 'writes', 'which', 'what']

#### Задача 3

Напишите функцию, которая генерирует случайную последовательность из 6 цифр, причем в этой последовательности должна быть как минимум одна цифра 3. Позиция 3 определяться случайным образом. Например: "456379" или "033456".

In [ ]:
import random

def generate_number():
    number = str(random.randint(0, 9))
    for i in range(5):
        number += str(random.randint(0, 9))
    return int(number) if '3' in number else generate_number()

print(generate_number())

220813

#### Задача 4

Данные студентов представлены в виде списка списков:

In [ ]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],
["4014", "Потапов", "Дмитрий", "Станиславович", "14.02.2012", "БСТ161"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [ ]:
def get_dict(data):
    return {i[0]: i[1:] for i in data}

print(get_dict(students))

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

2. Напишите функцию, которая принимает номер группы и выводит пронумерованный и упорядоченный по алфавиту список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [ ]:
def get_students(data, group):
    for index, value in enumerate(sorted([f'{i[0]} {i[1]} {i[2]}' for i in data.values() if group == i[-1]]), 1):
        print(index, value)

get_students(get_dict(students), 'БСТ161')

1 Антонов Антон Игоревич
2 Боков Игорь Харитонович
3 Потапов Дмитрий Станиславович
4 Степанова Наталья Александровна

#### Задача 5

Создайте класс Student, который создает объекты с данными о студентах (как в задаче 4). Класс должен иметь следующие методы: add_to_dict (добавляет объект в словарь из задачи 4), update_dict (обновляет запись о студенте в словаре из задачи 4), change_group (изменяет номер группы студента), change_id (изменяет номер студента) и print_data (выводит на экран данные студента).

In [ ]:
class Student:
    def __init__(self, s_id, last_name, first_name, patronomic_name, date, group):


    def add_to_dict(self):


    def update_dict(self):


    def change_group(self, new_group):


    def change_id(self, new_id):


    def print_data(self):

In [ ]:
class Student:
    def __init__(self, s_id, last_name, first_name, patronomic_name, date, group):
        self.s_id = s_id
        self.last_name = last_name
        self.first_name = first_name
        self.patronomic_name = patronomic_name
        self.date = date
        self.group = group
        self._students_dict = get_dict(students)

    def add_to_dict(self):
        self._students_dict.setdefault(self.s_id, [self.last_name, self.first_name, self.patronomic_name, self.date, self.group])
        return self._students_dict

    def update_dict(self):
        self._students_dict.update({self.s_id: [self.last_name, self.first_name, self.patronomic_name, self.date, self.group]})
        return self._students_dict

    def change_group(self, new_group):
        self.group = new_group
        self.update_dict()

    def change_id(self, new_id):
        self.s_id = new_id
        self.update_dict()

    def print_data(self):
        print(self._students_dict[self.s_id])

1. Создайте объект класса, добавьте его в словарь. Обновленный словарь выведете на экран.

In [ ]:
volkova = Student('0001', 'Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100')

In [ ]:
volkova.change_id('0002')
print(volkova.add_to_dict())

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161'], '0002': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100']}

2. Измените номер группы студентки Волковой на 'БСТ161' и выведите обновленный список группы.

In [ ]:
volkova.change_group('БСТ161')
get_students(volkova._students_dict, 'БСТ161')

1 Антонов Антон Игоревич
2 Боков Игорь Харитонович
3 Волкова Галина Сергеевна
4 Потапов Дмитрий Станиславович
5 Степанова Наталья Александровна

#### Задача 6

Дана матрица matrix. Напишите код, который будет транспонировать её (то есть, делать из строк столбцы) в matrix_t:

matrix_t = [
    [0, 6, 3, 4, 5],
    [1, 2, 3, 6, 7],
    [2, 2, 3, 7, 3],
    [4, 1, 3, 1, 4],
    [8, 9, 3, 2, 0]
]

In [ ]:
matrix = [
    [0,1,2,4,8],
    [6,2,2,1,9],
    [3,3,3,3,3],
    [4,6,7,1,2],
    [5,7,3,4,0]
]

In [ ]:
matrix_t = [[i[x] for i in matrix] for x in range(len(matrix[0]))]
print(matrix_t)

[[0, 6, 3, 4, 5], [1, 2, 3, 6, 7], [2, 2, 3, 7, 3], [4, 1, 3, 1, 4], [8, 9, 3, 2, 0]]